<html ng-app='app'>
<head>
<title></title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
</head>
<body>

<div layout='col' ng-controller='secondCtrl'>
	<form>
       <label>Name: <input type='text' ng-model='_name'/></label><br />
       <label>Price: <input type='text' ng-model='price'/></label><br />
       <select ng-model="selectedType">
       	<option ng-repeat="typ in types" value="{{typ.nm}}">{{typ.nm}}</option>
       </select>
       <button class="md-raised" type="submit" ng-click='add(_name, price, selectedType)'>btn</button>
   </form>
</div>

<div layout='col' ng-controller='firstCtrl'>
	<ul style="list-style-type:none">	
		<div ng-repeat="val in myFactory.list"> 
			<li >
				<p >name: {{ val.thisname }}</p>
				<p >price: {{ val.thisprice }}</p>
				<p >type: <b>{{ val.thistype }}</b>
			<li>
		</div>
	</ul>
</div>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js'></script>
<script type='text/javascript' src='main.js'></script>
</body>
</html>